input {

    width: 70em;
    /*background-color: #00da2f;*/
    color: #40084a;
    text-shadow: 5px 10px 18px black;
    letter-spacing: 5px;
    font-family: -webkit-pictograph;
    text-align: center;
}

div {
    text-shadow: 5px 10px 18px black;
}

#p_prldr {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #9A12B3;
    z-index: 30;
}

.contpre small {
    font-size: 25px;
}

.contpre {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 48%;
    margin-left: -125px;
    margin-top: -75px;
    color: #fff;
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    line-height: 35px;
}

#p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(oval.svg) center center no-repeat;
    background-size: 41px;
    margin: -16px 0 0 -16px;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #9555af;
}

div {
    background-color: #00da2f;
}

h1 {
    margin: -25px 0 25px;
}

